.nav_bar-container{
    border: solid #000;
    background-color: #000;
    padding: 1%;
}

.item_navbar {
    font-size: xx-large;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    color: #fff;
}